<!DOCTYPE html>
<html xmlns:th="http:/www.thymleaf.org">
<head th:replace="homeAuth :: head">
    <meta charset='utf-8'>
    <title>Login</title>
</head>
<body>
    <!--BARRA DE NAVEGACION-->
    <header th:replace="homeMain :: header"></header>
    <!--CONTENIDO: SECCION PARA LOGUEAR USUARIO-->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div th:if="${param.error}" class="alert alert-danger mb-3">Incorrect Data</div>
                <div class="card">
    
                    <div class="card-header"><h4>Login</h4></div>
                    <div class="card-body">
    
                        <form id="loginform" method="POST" th:action="@{/login-post}" role="form">
                            <div class="row form-group">
                                <label class="col-md-3">Email</label>
                                <input type="text" name="username" class="form-control col-md-7" placeholder="Enter email"/>
                            </div>
    
                            <div class="row form-group">
                                <label class="col-md-3">Password</label>
                                <input type="password" name="password" class="form-control col-md-7" placeholder="Password"/>
                            </div>
    
                            <div class="row form-group">
                                <input type="submit" class="btn btn-success btn-black col-md-7 offset-3" value="Login"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--PIE DE PAGINA-->
    <footer th:replace="homeAuth :: footer"></footer>
</body>
</html>